/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-mrt-2017, 12:02:57
    Author     : Ernst-Jan Bakker
*/

@media screen and (max-width: 980px) {
   body {
    background-color: white;
    width:980px;
    }
}
@media screen and (max-width: 980px) {
    .header {
    width:980px;
    height:100px;
    background-color:rgba(0, 0, 0, 0.6); 
    }
}
@media screen and (max-width: 980px) {
    .header_content {
    margin-left: 5%;
    color: white;
    width:980px;
    height: 100%; 
    }
}
@media screen and (max-width: 980px) {
    .container {
    color: white;
    background-color:rgba(0, 0, 0, 0.6); 
    width:980px;
    height: 800px; 
    margin-top: 5px;
    }
}
@media screen and (max-width: 980px) {
.blok_linksboven{
    width: 98%;
    height: 10%;
    margin: 1%;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}
}
@media screen and (max-width: 980px) {
.blok_boven{
    width: 98%;
    height: 10%;
    margin: 1%;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}
}
@media screen and (max-width: 980px) {
.blok_rechtsboven{
    width: 98%;
    height: 10%;
    margin: 1%;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}
}
@media screen and (max-width: 980px) {
.blok_onder{
    width: 98%;
    height: 75%;
    margin: 1%;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}
}
@media screen and (max-width: 980px) {
    .header_img img {
    width:100px;
    height: 100px; 
    }
}
@media screen and (max-width: 980px) {
    .top_opleiding img {
    width:100px;
    height: 100px; 
    float: right;
    }
}
@media screen and (max-width: 980px) {
    p.header_title {
    color: white;
    font-size: 14px;
    }
}
@media screen and (max-width: 980px) {
    p.subheader {
    color: white;
    font-size: 14px;
    }
}
@media screen and (max-width: 980px) {
    .navbar {
    color: white;
    background-color:rgba(0, 0, 0, 0.6); 
    width:980px;
    height: 80px; 
    }
}
@media screen and (max-width: 980px) {
    .menu {
    color: white;
    font-size: 14px;
   
    width: 980px;
     margin-left: 0px;
    }
}
@media screen and (max-width: 980px) {
ul{
    float: left;
    list-style-type: none;
    height: 50px;
    width: 980px;
    
    margin-left: 0px;
}
}
@media screen and (max-width: 980px) {
li{
    list-style-type: none;
  
}
}
@media screen and (max-width: 980px) {
li a.active {
    background-color: #30C4E9;
    color: white;
}
}
@media screen and (max-width: 980px) {
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}
}
@media screen and (max-width: 980px) {
li a:hover {
    color: #30C4E9;
    background-color: lightgrey;
}
}
@media screen and (max-width: 980px) {
li1{
    list-style-type: none;

}
}
@media screen and (max-width: 980px) {
li1 a.active {
    background-color: #30C4E9;
    color: white;
}
}
@media screen and (max-width: 980px) {
li1 a{
    display: block;
    color: white;
    text-decoration: none;
}
}
@media screen and (max-width: 980px) {
li1 a:hover {
    color: #30C4E9;
    background-color: lightgrey;
}
}
@media screen and (max-width: 980px) {
.footer {
    color: #30C4E9;
    background-color: lightgrey;
}
}
@media screen and (max-width: 980px) {
.social_blok {
    margin-top: 5px;
    
    width: 50px;
    margin-left: 5px;
}
}
@media screen and (max-width: 980px) {
.social_plaatje img {
    margin-top: 10px;

}
}
@media screen and (max-width: 980px) {
.footer{
    width:980px;
    height:75px;
    background-color:rgba(0, 0, 0, 0.6); 
    margin:0 auto;
}
}
@media screen and (max-width: 980px) {
.footer_content{
    width:980px;
    height:100%;
   
  
    color: white;
    margin-left: 5px;
}
}