/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mrt-2017, 11:29:47
    Author     : Ernst-Jan Bakker
*/

/**/
/*HTML*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.sport-bg {
    background: url(images/sport-bg.jpg);
    background-size: cover;
}

.music-bg {
    background: url(images/music-bg.jpg);
    background-size: cover;
}

.home-bg {
    background: url(images/background.jpg);
    background-size: cover;
}

body {
    min-height: 100%;
    height: 100%;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}

/* END HTML*/

/*HEADER*/
.header {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.6);
}

.header_content {
    color: white;
    width: 937px;
    height: 150px;
    margin: 0 auto;
}

.header img {
    height: 110px;
    width: 134px;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
}

.header_title {
    font-size: 54px;
    font-weight: bold;
    padding-left: 150px;
    padding-top: 30px;
}

.subheader {
    font-size: 18px;
    padding-left: 190px;
}

.top_opleiding img {
    height: 110px;
    width: 110px;
    float: right;
    margin-right: 150px;
    margin-top: 15px;
}

/*menu*/


.navbar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;
}

ul.header_ul {
    width: 937px;
    margin: 0 auto;
}

ul.header_ul li {
    float: left;
    list-style-type: none;
    color: white;
}

ul.header_ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

ul.header_ul li a:hover {
    color: #30C4E9;
    background-color: lightgrey;
}

ul.header_ul li a:active {
    background-color: #30C4E9;
    color: white;
}

/*END MENU*/
/*BLOKKEN STRUCTUUR*/
.container {
    width: 937px;
    min-height: 800px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;

}

.blok_linksboven {
    width: 457px;
    height: 75px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}



.blok_rechtsboven {
    width: 456px;
    height: 75px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}



.blok_boven {
    width: 925px;
    height: 75px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}

.blok_onder {
    width: 925px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
    min-height: 700px;
}
.plaatje {

}
.blok_onder img{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
}


.lijn{
    width: 750px;
    margin: 0 auto;
    margin-top: 30px;
    height: 1px;
    color: white;
}
/*Divjes blok tekst en blok nieuws toegevoegd
door Rob en Kevin*/

.blok_boven_sport {
    width: 925px;
    height: 75px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}

.blok_boven_muziek {
    width: 925px;
    height: 75px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}

.blok_onder_opleidingen {
    width: 925px;
    min-height: 520px;
    margin: 6px;
    background-color: rgba(0, 102, 204, 0.6);
    float: left;
}

/*END BLOKKEN STRUCTUUR*/

/*MUZIEK*/
.muziek_opendag img {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}



.muziek_info img {
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 40px;
    margin-left: 20px;
}



/*END MUZIEK*/
/*OPSOMMING, H's en P's*/
ul {
    list-style-type: circle;
    padding-left: 21px;
    color: white;
}

h1 {
    color: white;
    text-align: center;
    padding-top: 15px;
}

h2 {
    color: orange;
    padding-top: 10px;
    margin-left: 5px;
}

h3 {
    color: white;
    padding-top: 10px;
    margin-left: 5px;
}

p {
    color: white;
    margin-left: 5px;
    margin-top: 6px;
}
p.nieuws{
    text-align: center;
    color: white;
    font-size: 18px;
}
p.opendag {
    color: white;
    font-size: 18px;
    text-align: center;
}

/*END OPSOMMING, H's en P's*/

/*MEDIA & LOGIN*/
.media_photo {
    margin: 5px;
    height: 200px;
    float: left;
}

img.photoMedia {
    max-width: 200px;
    max-height: 200px;
}



.loginPrompt {
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.loginPrompt input {
    margin-bottom: 10px;
}

.uploadForm {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.uploadForm input {
    margin-top: 10px;
}

/*END MEDIA & LOGIN*/

/*CONTACT*/
.Cform {
    height: 100%;
    width: 280px;
    float: left;
    margin-left: 80px;
    margin-top: 10px;
    background-color: orange;
    padding: 50px;
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;

}

.Cform form {
    color: white;
}

.contactinfo {
    height: 100px;
    width: 300px;
    float: left;
    text-align: justify;
    background-color: orange;
    padding: 30px;
    margin-top: 10px;
    margin-left: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: -15px 10px 20px #000000;
    opacity: 0.9;
}

.contactinfoB {
    height: 100px;
    width: 300px;
    float: left;
    text-align: justify;
    background-color: orange;
    padding: 30px;
    margin-left: 10px;
    border-style: solid;
    border-width: 1px;
    box-shadow: -15px 10px 20px #000000;
}

textarea {
    width: 300px;
    float: left;
    resize: none;
}

.adres {
    float: left;
    height: 100%;
    width: 90%;
    background-color: orange;
    margin-top: 20px;
    margin-left: 20px;
    border: 1px solid black;
}

.adres_gegevens {
    float: left;
    height: 310px;
    width: 400px;
    margin-top: 20px;
    margin-left: 10px;
}

.kaartje iframe {
    border: 1px solid black;
    float: left;
    margin-top: 9px;
    margin-left: 10px;
}

/*END CONTACT*/

/*FOOTER*/
.footer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.footer_content {
    width: 937px;
    height: 200px;
    margin: 0 auto;
    margin-top: 5px;
    color: white;
}

.social_plaatje img {
    width: 50px;
    height: 50px;
    margin-top: 8px;
    float: left;
    margin-left: 10px;
}


.weer {
    float: right;
    margin-top: 8px;
}

.rss {
    width: 480px;
    height: 170px;
    float: right;
}

/*FOOTER END*/